.error{
	color:red;
}


.card{
	margin-top: 20px;
}

.btn-warning{
	margin-right: 10px;
}

.btn-primary{
	margin-right: 10px;
}

.polls{
	margin-top: 20px;
}

.navbar{
	margin-bottom: 50px;
}

div h1{
	text-align: center;
}

.list-group{
	margin-bottom: 10px;
}

.card-body .list-group{
	margin-bottom: 20px;
}

form .btn{
	margin-top:10px;
}